DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
LEUKEMIA_MODEL_PATH=../model_weights/leukemia/leukemia_efficientnet_b0.keras
LEUKEMIA_INFERENCE_CONFIG_PATH=../docs/results/leukemia/inference_config.json
RENAL_MODEL_PATH=../model_weights/renal/modelo_fold1.h5
RENAL_MODEL_FOLD=1
RENAL_THRESHOLD=0.5
MAX_IMAGE_UPLOAD_MB=10
